
.column {
       float: left;
      width: 170px;
      height: 120px;
       padding: 5px;
       margin-top: 20px;
       margin-left: 50px;
      border: 1px ;
      background-color:teal;
      border-radius: 15px;
    }
    
.colum {
  float: left;
 width: 170px;
 height: 120px;
  padding: 5px;
  margin-top: 20px;
  margin-left: 50px;
 border: 1px ;
 background-color:royalblue;
 border-radius: 15px;

 }
 
.colu {
  float: left;
 width: 170px;
 height: 120px;
  padding: 5px;
  margin-top: 20px;
  margin-left: 50px;
 border: 1px ;
 background-color:tomato;
 border-radius: 15px;

 }

    .row { 
      width: 100%;
      }


	.hr{
			margin-top: 10px;
			margin-left: 20px;
			margin-right: 30px;
			height: 3px;
			background: darkcyan;
		}
	.a{
      display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    }

    .title{
			font-size: 20px;
			margin-left: 250px;
			font-weight: bold;
			margin-top: 20px;
		}

/*------------------deop down--------------*/

.dropbtn {
    padding: 14px 16px;
    font-size: 20px;
    border: none;
     text-align: center;
    cursor: pointer; 
}

.dropbtn:hover, .dropbtn:focus {
   
    color: black;
 
    
}


.department-content {
    
    margin-top: 60px;
    display: none;
    position: absolute;
    background-color: goldenrod;
    min-width: 160px;
    overflow: auto;
    
}

.department-content a {
   
    padding: 12px 16px;
    text-decoration: none;
    display: block;
   
}

.show {
    display: none; 
  }

/*//////////////////////////////////////////*/
.button{
      float: right;
      margin-right: 20px;
      width: 200px;
      height: 40px;
    }

/*-------------------------------------------*/
