

.hr{
			margin-top: 10px;
			margin-right: 20px;
			height: 3px;
			background:royalblue;
		}
		.it{
			border: 1 px solid green;
			background-color:ivory;
			width: 400px;
			height: 35px;
			text-align: center;
			font-size: 20px;
		}

		.com{
			border: 1 px solid green;
			background-color:ivory;
			width: 400px;
			height: 35px;
			text-align: center;
			margin-left: 300px;
			font-size: 20px;
		}

		.sof{
			border: 1 px solid green;
			background-color: ivory;
			width: 400px;
			height: 35px;
			text-align: center;
			margin-left: 600px;
			font-size: 20px;
		}

		.backgr{
			background-color: black;
			width: 1000px;
			margin-left: 50px;
			margin-bottom: 10px;
			margin-top: 10px;
		}
		.space{
			margin: 10px;
		}
		.border{
			border: 1px solid black;
			border-radius: 15px;
			margin-left: 200px;
			margin-top: 20px;
			width: 400px;
		}
		#customers {
    	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    	border-collapse: collapse;
    	width: 100%;
		}
		#customers tr:nth-child(even){background-color: #f2f2f2;}

		#customers tr:hover {background-color: #ddd;}


		#customers th {
    	padding-top: 12px;
    	padding-bottom: 12px;
    	text-align: left;
    	background-color:royalblue;
    	color: white;
		}