.button{
    background-color:teal;
    color:white;
}



.hr{
	margin-right: 20px;
	height: 3px;
	background: royalblue;
	}
.th{
    width: 100px;
     height: 20px;
     text-align: center;        
    }
 .seat{
       border: 1px solid black ;
   	   border-radius: 10px;
   	   margin-left:50px;
       width: 600px;
        }
.column {
       float: left;
      width: 170px;
      height: 120px;
       padding: 5px;
       margin-top: 20px;
       margin-left: 50px;
      border: 1px ;
      background-color:springgreen;
      border-radius: 15px;
      }
  .search{
  	 float: right;
  	 font-size: 20px;
  	 border: 3px solid rebeccapurple;
  	  border-radius: 40px;
        margin-top: 30px;
        background:paleturquoise;
  	  
}
.space{
    margin: 10px;
}
/*//////*/

 .table{
            width: 800px;
            margin-bottom: 10px;
        }
        .box{
            float: left; 
            width: 400px;
            height: 45px;
            border: 1px solid black;   
            border-radius: 10px;
        }
        .seat{
          border: 1px solid black ;
         border-radius: 10px;
             width: 900px;

        }
       
        .b{
          border: 1px solid black;   
            border-radius: 10px;
        }
        .td{
          height: 40px;
        }
  /*/////////////////////*/
  .udborder{
            margin-left: 100px;
            width: 600px;
            border: 1px solid black;   
            border-radius: 10px;
        }
        .space{
        margin: 10px;
    }